
@font-face {
    font-family: Anton;
    src: url(/src/assets/fonts/Berlin.ttf);
  }

   
  @font-face {
    font-family: AlibabaSans;
    src: url(/src/assets/fonts/AlibabaSans-Regular.ttf);
  }
  

.custom-left {
    position: absolute;
    left: 30px;
}

.custom-right {
    position: absolute;
    right: 30px;
}

.square-container {
    width: 15rem; /* Set width of the square container */
    height: 13rem; /* Set height of the square container */
    background-color: #fff; /* White background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-container img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
}

.product-btn {
    display: inline-block;
    color: #3C5B7D;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    padding: 0.7rem;
    margin-top: 0.5rem;
    border-radius: 5%;
    cursor: pointer;
    border: 1px solid #3C5B7D;
    width: 10rem;
}

.pad {
    padding-top: 5rem;
}

.product-btn:hover {
    border: 1px solid #6E8DCF;
    color: #6E8DCF;
    transition: ease-in-out 0.3s;
}

h3 {
    font-family: Anton;
    padding-top: 10px;
    font-size: 65px;
  }

  .alibaba{
    font-family: AlibabaSans;
  }


  /* Responsive styles */
@media (max-width: 768px) {
    .custom-left, .custom-right {
        position: static;
        width: 100%;
        background-color: #F2F0ED;;
    }

    .square-container {
        width: 100%;
        height: 20rem;
        margin-top: 1rem;
    }

    .product-btn {
        width: auto;
        padding: 0.5rem;
        margin-top: 0.25rem;
    }
}

@media (max-width: 480px) {
    h3 {
        font-size: 3rem;
    }

    .pad {
        padding-top: 1rem;
    }
    

    .product-btn {
        padding: 1rem;
        margin-top: 0.1rem;
    }
}